#journalDate {
    display: flex;
    flex-direction: column;
}

#journalText {
    display: flex;
    flex-direction: column;
}

#journalEntry {
    display: flex;
    flex-direction: column;
}

#mood {
    display: flex;
    flex-direction: column;
}